*.class
*.iml
*.xml
out/production/MafuyoPet/imgs/mafuyo.png
out/production/MafuyoPet/imgs/mafuyo2.png
out/production/MafuyoPet/imgs/mafuyo1.png
out/production/MafuyoPet/imgs/icon.png
out/production/MafuyoPet/imgs/dialog2.png
out/production/MafuyoPet/imgs/dialog1.png
*.xml___jb_tmp___
out/production/MafuyoPet/inis/moodlelogin.ini
out/production/MafuyoPet/html/moodle.html